@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fjalla+One&family=Nerko+One&family=Oswald:wght@700&display=swap');

body, html{
	font-family: 'Poppins', sans-serif;
	padding: 0;
	margin: 0;
}

/* Container holding the image and the text */
.container {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  bottom: -522px;
  right: 20px;
  background-color: rgba(0,0,0,.5);
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  font-family: 'Fjalla One', sans-serif;
  color: white;
  text-shadow: 0 0 5px black;
}

h1{
	font-weight: 800;
	font-size: 50px;

}

h2{
	font-weight: 800;
	font-size: 50px;

}

h3{
	font-weight: bold;
	font-size: 30px;

}

h4{
	font-weight: bold;
	font-size: 20px;

}

p{
	font-weight: bold;
	font-size: 20px;
	margin: 30px 0;
}

.wrapper{
	widows: 960px;
	margin: 0 auto;

}

.hero-banner{
	background-image: url("http://getwallpapers.com/wallpaper/full/b/a/c/699347-free-las-vegas-wallpaper-1920x1200.jpg");
 	background-color: #cccccc;
 	min-height: 100vh;
 	padding: 50px 20px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.hero-banner h1{
	color: white;
	margin: 14px;
}

.hero-banner h3{
	color: white;
	margin: 0 0 35px;
}

.hero-banner h4,
.hero-banner h4 a{
	color: white;
	margin: 0;
}

a.cta,
button.cta{
	font-weight: bold;
	font-size: 30px;
	color: white;
 	background: #007FFF;
 	display: inline-block;
 	box-shadow: 0 0 0 10pt rgba(0,127,255,.15);
 	padding: 20px 30px;
 	border-radius: 10px;
 	text-decoration: none;
}

a.cta.alt,
button.cta.alt{
	background-color: #38829d;
	color: #111111;
	box-shadow: 0 0 0 10pt rgba(0,0,0,.15);
}

nav{
	height: 100px;
	background-color: white;
	box-shadow: 0 5px 8px rgba(0,0,0,.2);
	position: sticky;
	top: 0;
}

nav .logo{
	display: block;
	width: 100px;
	height: 68px;
	position: absolute; top: 50%; left: 56px;
	margin-top: -20px;
	margin-left: -36px;
	background: url(../img/logo222.png) no-repeat 0 0;
	background-size: 100%;
	overflow: hidden;
	text-indent: -999px;
}

nav ul{
	padding: 0;
	margin: 0 20px 0 0;
}

nav ul li{
	margin: 0;
	padding: 0;
	display: block;
	float: right;
}

nav ul li a{
	display: block;
	height: 100%;
	box-sizing: border-box;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	color: #111111;
	text-decoration: none;
	padding: 35px 10px;
	line-height: 30px;
}

.caesars-palace{
	text-align: center;
}

.caesars-palace p{
	margin: 18px 0 35px;
}

.caesars-palace h2{
	margin: 50px 0 0;
}

.highlight{
	background-color: #f4dfdc;
	color: #3f51b5;
	padding: 5px 10px;
	line-height: 50px;
	display: inline;
	font-weight: 800;
}


